@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content">
    <!-- Sản phẩm mới By Hoàng Duy -->
    <div />
    <!-- Sản phẩm bán chạy Kim Đạt -->
    <div>
        <div class="most-by-item">
            <span style="font-size: 18px; background-color: #ffffff; padding: 5px;">
                SẢN PHẨM BÁN CHẠY
            </span>
        </div>
        <div class="img-row">
            <div class="img-border">
                <img src="~/images/spbc_1.png" id="spbc_1" />
                <p style="font-size: 20px;color:red; margin-left:10px;margin-top:40px;">520,000đ</p>
                <p style="font-size: 16px; margin-left:10px;">Cougar Minos X3 White-Gaming Mouse </p>
            </div>
            <div class="img-border">
                <img src="~/images/spbc_2.jpg" id="spbc_1" />
                <p style="font-size: 20px;color:red; margin-left:10px;margin-top:40px;">820,000đ</p>
                <p style="font-size: 16px; margin-left:10px;">Intel Core i5 </p>
            </div>
        </div>
    </div>

    <div />
    <!-- Sản phẩm khuyến mãi Kim Đạt -->
    <div />
</div>