@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- Sản phẩm mới By Hoàng Duy -->
    <div/>

    <!-- Sản phẩm bán chạy Kim Đạt -->
    <div/>
    <!-- Sản phẩm khuyến mãi Kim Đạt -->
    <div/>
</div>